
.backgroundImage {

    background-image: url("../images/nytimes.jpg");
    background-size: 100% 100%;
}

.border1 {
    border-bottom: 10px black solid;
}

.jumboText {
    background-color: black;
    color: white;
}

.JumboH {
    height: 500px;
}

.opacity {
    opacity: 0.85;
}

.headerMargin {
    padding: 10px 10px 10px 10px;
    margin-top: 230px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 52px;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 15px black solid;
}

.instructionMargin {

    /* border-radius: 60px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: orange;
    color: white; */
}

.font {
    font-size: 50px;
    font-weight: bold;
}
.font2 {
    font-size: 24px;
}

.fontStyle {
    font-family: 'Julius Sans One', sans-serif;

}