
.nav {
    height: 60px;
    background-color: #0a0a0a;
    color: white;
}

.marginTop {
    margin-top: 5px;
    margin-left: -20px;
}

.navBarImage {
    height: 50px;
    width:50pc;
}

.headerText {
    font-size: 24px;
}

.fontStyle {
    font-family: 'Julius Sans One', sans-serif;

}